#gnb {
  display: flex;
  align-items: center;
}
#gnb li {
  margin: 0 15px;
  position: relative;
}
#gnb li a {
  display: block;
  font-size: 22px;
}
#gnb li ul {
  position: absolute;
}
#gnb li ul li a {
  font-size: 16px;
}